{% extends 'base.html.twig' %}
{% block body %}
 <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2> A Propos de Nous </h2>
        <p> </p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="../assets/img/a propos.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>Minds' Académy </h3>
            <p class="font-italic">
              Minds'Academy est une Plateforme spécialisée dans le domaine d'IT , qui met à la disposition des étudiants : des tutoriels , des Cours et des exos de Programmation ( C , C++ , JAVA , Python..) , de Réseau et de Mathématique qui leur aident à améliorer leurs capacités. Dans le cadre de son opération , Outre l'accès gratuit à la plateforme, , On met à votre disposition des tuteurs particuliers pour vous aider à améliorer votre niveaux à travers la bonne gestion des groupes en diffusant le contenu d'une Manière simple et instructive .

 
            </p>
            <ul>
              <li><i class="icofont-check-circled"></i>  L'académie est accessible gratuitement.</li>
              <li><i class="icofont-check-circled"></i>  Des cours et des tutoriels de qualités vous attendent.</li>
              <li><i class="icofont-check-circled"></i>  Les formations sont disponibles en ligne en présentiel.</li>
            </ul>
            <p>
              
            </p>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">500</span>
            <p>Etudiants</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">50</span>
            <p>Courses</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">5</span>
            <p>Events</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">10</span>
            <p>Trainers</p>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2></h2>
          <p> Témoignage       </p>
        </div>

        <div class="owl-carousel testimonials-carousel" data-aos="zoom-in" data-aos-delay="100">

          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img src="../assets/img/testimonials/aziz slim.jpg" class="testimonial-img" alt="">
              <h3><a href="https://www.facebook.com/aziz.slim.923" style="color:black">Aziz Slim</a></h3>
              <h4></h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                J'ai pu améliorer mon niveau en Mathématique avec séances de révisions fournies par la plateforme.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img src="../assets/img/testimonials/maryem ajmaoui.jpg" class="testimonial-img" alt="">
              <h3><a href="https://www.facebook.com/profile.php?id=100008387473149" style="color : black">Maryem Ajmaoui</a></h3>
              <h4></h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                J'ai pu facilement surmonter mes ambiguités en Mathématique grace à la Pedagogie offerte pas la plateforme .
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img src="../assets/img/testimonials/malek ben abbes.jpg" class="testimonial-img" alt="">
              <h3>Malek Ben Abbes</h3>
              <h4></h4>
               <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Grace aux Pack de Mathématique j'ai pu réussir tous mes examens de Maths .
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p> 
            </div>
          </div>

          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img src="assets/img/testimonials/nour thraya.jpg" class="testimonial-img" alt="">
              <h3>Nour Thraya</h3>
              <h4></h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                J'ai assisté aux séances de Programmation C et j 'ai pu facilement avoir une bonne Note .
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          {#<div class="testimonial-wrap">
            <div class="testimonial-item">
              <img src="../assets/img/testimonials/ahmed mtibaa.jpg" class="testimonial-img" alt="">
              <h3>Ahmed Mtibaa</h3>
              <h4></h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
               Les cours sont Sublimes !
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div> #}

        </div>

      </div>
    </section><!-- End Testimonials Section -->

  </main><!-- End #main -->

{% endblock %}