{% extends 'baseadmin.html.twig' %}

{% block title %}Nouveau Etudiant{% endblock %}

{% block body %}
<br>
    {{ include('user/_form.html.twig') }}

<br>

    {# <a href="{{ path('matiere_index') }}">back to list</a> #}
{% endblock %}
